<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-themecolor">QUẢN LÝ THÀNH PHẨM CÀ PHÊ</h3>
  </div>
  <div class="col-md-7 align-self-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript:void(0)">Trang chủ</a>
      </li>
      <li class="breadcrumb-item active">Coffee</li>
    </ol>
  </div>
  <div>
    <button
      class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"
    >
      <i class="ti-settings text-white"></i>
    </button>
  </div>
</div>

<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive m-t-40">
            <table
              id="example23"
              class="display nowrap table table-hover table-striped table-bordered"
              cellspacing="0"
              width="100%"
            >
              <thead>
                <tr>
                  <th>Mã sản phẩm</th>
                  <th>Tên sản phẩm</th>
                  <th>Quy cách</th>
                  <th>Số lượng thùng</th>
                  <th>Số lượng hộp</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>CFQ</td>
                  <td>Cà phê hòa tan 3in1 QUÁN</td>
                  <td>30 hộp/thùng</td>
                  <td>20</td>
                  <td>600</td>
                </tr>
                <tr>
                  <td>CFCOP28-18</td>
                  <td>Cà phê hòa tan 3in1 COP28 - 18 gói</td>
                  <td>20 hộp/thùng</td>
                  <td>20</td>
                  <td>400</td>
                </tr>

                <tr>
                  <td>CFCOP28-21</td>
                  <td>Cà phê hòa tan 3in1 COP28 - 21 gói</td>
                  <td>20 hộp/thùng</td>
                  <td>20</td>
                  <td>400</td>
                </tr>

                <tr>
                  <td>CFCOP28-20</td>
                  <td>Cà phê hòa tan 3in1 COP28 - 20 gói</td>
                  <td>20 túi/thùng</td>
                  <td>20</td>
                  <td>400</td>
                </tr>

                <tr>
                  <td>CFCOP28-50</td>
                  <td>Cà phê hòa tan 3in1 COP28 - 50 gói</td>
                  <td>10 túi/thùng</td>
                  <td>10</td>
                  <td>100</td>
                </tr>

                <tr>
                  <td>CFHH1</td>
                  <td>Cà phê Hoàn Hảo 1</td>
                  <td>20 gói/túi</td>
                  <td>20</td>
                  <td>600</td>
                </tr>
                <tr>
                  <td>CFHH2</td>
                  <td>Cà phê Hoàn Hảo 1</td>
                  <td>20 gói/túi</td>
                  <td>20</td>
                  <td>600</td>
                </tr>
                <tr>
                  <td>CFHH3</td>
                  <td>Cà phê Hoàn Hảo 1</td>
                  <td>20 gói/túi</td>
                  <td>20</td>
                  <td>600</td>
                </tr>
                <tr>
                  <td>CFHH4</td>
                  <td>Cà phê Hoàn Hảo 1</td>
                  <td>20 gói/túi</td>
                  <td>20</td>
                  <td>600</td>
                </tr>
                <tr>
                  <td>CFHH5</td>
                  <td>Cà phê Hoàn Hảo 1</td>
                  <td>20 gói/túi</td>
                  <td>20</td>
                  <td>600</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>